@import "./base.css";

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

h4 {
  transition: 0.4s;
}

@media (hover: hover) {
  /* a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
  a h4:hover {
    transform: translateY(-10px);
    text-shadow: 2px 2px 8px black;
  } */

  a {
    padding: 5px;
    border-radius: 10px;
  }

  a h4:focus {
    text-shadow: 2px 2px 8px black;
  }
}

@media (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
  }

  main {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    position: absolute;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    cursor: default;
    user-select: none;
  }
}
